.aboutPageContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 0px 30px 0px 30px;

}

.aboutPageTitle {

    padding: 8px 50px 8px 50px;
    background-color: rgba(175, 16, 44, 0.8);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    color: white;
    font-size: 1.7em;
    margin-top: 3%;
}

.aboutGrid{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #2196F3;
    padding: 10px;

}

.companyLogo{

    position: absolute;
    left: -50%;
    top: 15%;

}

.aboutGrid div:nth-child(1){

    /* background-color: red; */
    grid-row: 1/2;
    grid-column: 3/6;

}

.aboutGrid div:nth-child(2){

    /* background-color: blue; */
    grid-row: 2/3;
    grid-column: 2/4;
}

.aboutGrid div:nth-child(3){

    /* background-color: green; */
    grid-row: 2/3;
    grid-column: 5/7;

}

.aboutGrid div:nth-child(4){

    /* background-color: orange; */
    grid-row: 3/4;
    grid-column: 3/5;

}

.personContainer{
    margin: 5%;
    position: relative;

}

.titleRibbon{

    background-color: rgba(2, 11, 68, 1);
    --f: 25px;
    /* control the folded part*/
    --r: 20px;
    /* control the ribbon shape */

    position: absolute;
    top: -25px;
    padding-inline: 30px;
    border-bottom: var(--f) solid #0005;
    color: #fff;
    z-index: 2;
    left: calc(-1*var(--f));
    border-right: var(--r) solid #0000;
    clip-path:
            polygon(100% 0, 0 0, 0 calc(100% - var(--f)), var(--f) 100%,
            var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)),
            calc(100% - var(--r)) calc(50% - var(--f)/2));
    font-size: 1.8em;
    height: 40px;
    padding-top: 5px;

}

.descriptionBox{

    /* background-color: rgba(175, 16, 44, 0.7); */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 45px 60px 25px 25px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: fit-content;
    font-size: 1.1em;
    width: clamp(220px, 70vw, 465px);


}

@media screen and (max-width: 500px) {

    .descriptionBox{
     
        padding: 25px 35px 20px 25px;
        font-size: 0.9em;
        clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);

    }

    .titleRibbon{

        font-size: 1.6em;
        padding-inline: 20px;
        --f: 10px;
        height: 35px;
    }


}
