.aboutPageContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 0px 30px 0px 30px;

}

.aboutPageTitle {

    padding: 8px 50px 8px 50px;
    background-color: rgba(175, 16, 44, 0.8);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    color: white;
    font-size: 1.7em;
    margin-top: 3%;
}

.aboutGrid{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;

}

.one, .two, .three{
 
    column-span: 2;
    padding: 20px 0px;
    width: 5px;
    height: 5px;
}

.one{

    background-color: red;

}

.two{

    background-color: blue;

}

.three{

    background-color: green;

}

.personContainer{
    margin: 5%;
    position: relative;

}

.titleRibbon{

    background-color: rgba(2, 11, 68, 1);
    --f: 25px;
    /* control the folded part*/
    --r: 20px;
    /* control the ribbon shape */

    position: absolute;
    top: -25px;
    padding-inline: 30px;
    border-bottom: var(--f) solid #0005;
    color: #fff;
    z-index: 2;
    left: calc(-1*var(--f));
    border-right: var(--r) solid #0000;
    clip-path:
            polygon(100% 0, 0 0, 0 calc(100% - var(--f)), var(--f) 100%,
            var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)),
            calc(100% - var(--r)) calc(50% - var(--f)/2));
    font-size: 2em;
    height: 45px;
    padding-top: 5px;

}

.descriptionBox{

    /* background-color: rgba(175, 16, 44, 0.7); */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 45px 60px 25px 25px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: fit-content;
    font-size: 1.2em;
    width: clamp(220px, 70vw, 465px);


}

@media screen and (max-width: 500px) {

    .descriptionBox{
     
        padding: 25px 35px 20px 25px;
        font-size: 0.9em;
        clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);

    }

    .titleRibbon{

        font-size: 1.6em;
        padding-inline: 20px;
        --f: 10px;
        height: 35px;
    }


}
