.aboutPageContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 0px 30px 0px 30px;
    margin-bottom: 40px;

}

.aboutPageTitle {

    padding: 8px 50px 8px 50px;
    background-color: rgba(175, 16, 44, 0.8);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    color: white;
    font-size: 1.6em;
    margin-top: 30px;
}

.aboutContainer{
    /* margin-top: 2%; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutContainerInner{

    display: flex;
    justify-content: center;
    width: 50vw;

}

.personContainer{
    margin: 5%;
    position: relative;
    filter: drop-shadow(20px 14px 5px rgba(0, 0, 0, 0.1));

}

.titleRibbon{

    background-color: rgba(2, 11, 68, 1);
    --f: 25px;
    /* control the folded part*/
    --r: 20px;
    /* control the ribbon shape */

    position: absolute;
    top: -25px;
    padding-inline: 30px;
    border-bottom: var(--f) solid #0005;
    color: #fff;
    z-index: 2;
    left: calc(-1*var(--f));
    border-right: var(--r) solid #0000;
    clip-path:
            polygon(100% 0, 0 0, 0 calc(100% - var(--f)), var(--f) 100%,
            var(--f) calc(100% - var(--f)), 100% calc(100% - var(--f)),
            calc(100% - var(--r)) calc(50% - var(--f)/2));
    font-size: 1.5em;
    height: 40px;
    padding-top: 5px;

}

.descriptionBox{

    /* background-color: rgba(175, 16, 44, 0.7); */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 45px 60px 25px 25px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: fit-content;
    font-size: 1.1em;
    width: clamp(220px, 70vw, 465px);
    line-height: 22px;


}

.companyBox{

    width: clamp(220px, 70vw, 675px);

}

@media screen and (max-width: 1225px) {

    .aboutContainerInner{

        flex-direction: column;
        align-items: center;

    }

    .descriptionBox{

        width: clamp(220px, 70vw, 675px);

    }

    .personContainer {

        margin: 25px 5%;

    }

}

@media screen and (max-width: 920px) {

    .aboutPageTitle{

        margin-top: 30px;

    }

}

@media screen and (max-width: 500px) {

    .descriptionBox{
     
        padding: 25px 35px 20px 25px;
        font-size: 0.9em;
        clip-path: polygon(0% 0%, 100% 0%, 94% 100%, 0% 100%);

    }

    .titleRibbon{

        font-size: 1.4em;
        padding-inline: 20px;
        --f: 10px;
        height: 35px;
    }

    .personContainer{

        margin: 30px 5%;

    }


}
