.homePageContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    /* animation: 1s linear 3.75s forwards fadeToOrgin; */
}
/* 
@keyframes fadeToOrgin {

    to {

        margin-top: 0px;

    }

} */

.introSection{

    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;

}

.introText{

    width: 0px;
    height: 252px;
    clip-path: polygon(0 0, 89% 0, 100% 100%, 9% 100%);
    background-color: rgba(175, 16, 44, 0.8);
    animation: 1s linear 3.75s forwards grow;
    margin-left: 0px;
    padding-left: 0px;

}

.innerIntroText {

    /* padding: 10px 45px 10px 75px; */
    color: white;
    opacity: 0;
/*     animation: 0.5s linear 4.75s forwards fadeInText; */
    /* display: none; */
    font-size: 1.4em;
    text-align: left;
    width: 89%;

}

.homeAnim{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: clamp(300px, 75vw, 875px);
    margin-top: 20px;

}

.homeAnim h4{

    color: #020b44;
    font-size: 1.6em;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 1px;
    /* animation: 0.75s linear forwards fadeInWords; */
    filter: drop-shadow(20px 14px 3px rgba(0, 0, 0, 0.1));
}

.homeAnim span{

    width: 25px;
    height: 2px;
    background-color: rgba(175, 16, 44, 0.8);
    /* border-radius: 50%; */

}

/* .homeAnim h4:nth-of-type(1) {

    animation-delay: 0.75s;

}

.homeAnim h4:nth-of-type(2) {

    animation-delay: 1.5s;

}

.homeAnim h4:nth-of-type(3) {

    animation-delay: 2.25s;

}

.homeAnim h4:nth-of-type(4){

    animation-delay: 3s;
} */

/* @keyframes fadeInWords{

    from {

        transform: translateY(50px);
        opacity: 0;

    }

    to {

        transform: translateY(0px);
        opacity: 1;

    }

} */

/* 
@keyframes grow {
    
    to{

        width: 500px;
        padding-left: 80px;
        margin-left: 45px;

    }

} */
/* 
@keyframes fadeInText{
    from{

        transform: translateX(50px);
        opacity: 0;

    }
    to{

        transform: translateX(0px);
        opacity: 1;
        display: block;

    }

} */

.disclaimer{

    clip-path: polygon(3% 0, 97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%);
    background-color: rgba(175, 16, 44, 0.8);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px 25px 10px 25px;
    text-align: center;
    width: clamp(310px, 90vw, 1050px);

}

@media screen and (max-width: 1200px) {

    .homeAnim h4 {

        font-size: 1.5em;

    }

}

@media screen and (max-width: 1000px) {

    .homeAnim h4 {

        font-size: 1.3em;

    }

}

@media screen and (max-width: 825px){

    .homeAnim span{

        width: 15px;

    }

    .homeAnim h4 {

        font-size: 1.1em;

    }

}

@media screen and (max-width: 650px){

    .disclaimer{

        font-size: 0.8em;
        padding: 10px 15px 10px 15px;
        width: clamp(275px, 85vw, 1050px);
        margin-bottom: 30px;

    }

    .homeAnim{

        width: clamp(300px, 95vw, 500px);

    }

    .homeAnim span {

        width: 10px;

    }

    .homeAnim h4 {

        font-size: 1em;

    }

}

@media screen and (max-width: 425px){

    .homeAnim span {
    
            width: 6px;
    
        }
    
        .homeAnim h4 {
    
            font-size: 0.8em;
    
        }

}