.homePageContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    /* animation: 1s linear 3.75s forwards fadeToOrgin; */
}

.introSection{

    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50px;

}

.introText{

    width: 0px;
    height: 252px;
    clip-path: polygon(0 0, 89% 0, 100% 100%, 9% 100%);
    background-color: rgba(175, 16, 44, 0.8);
    animation: 1s linear 3.75s forwards grow;
    margin-left: 0px;
    padding-left: 0px;

}

.innerIntroText {

    /* padding: 10px 45px 10px 75px; */
    color: white;
    opacity: 0;
/*     animation: 0.5s linear 4.75s forwards fadeInText; */
    /* display: none; */
    font-size: 1.4em;
    text-align: left;
    width: 89%;

}

.homeAnim{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: clamp(300px, 75vw, 875px);
    margin-top: 10px;

}

.homeAnim h4{

    color: #020b44;
    font-size: 1.6em;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 1px;
    /* animation: 0.75s linear forwards fadeInWords; */
    filter: drop-shadow(20px 14px 3px rgba(0, 0, 0, 0.1));
}

.homeAnim span{

    width: 25px;
    height: 2px;
    background-color: rgba(175, 16, 44, 0.8);
    /* border-radius: 50%; */

}

.homeContainer{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 700px;
    filter: drop-shadow(20px 14px 3px rgba(0, 0, 0, 0.1));

}

.homeContainer p{

    background-color: rgba(59, 92, 107, 0.9);
    color: white;
    font-size: 1.1em;
    margin: 0;

}

.homeContainer img{

    width: 175px;
    /* position: absolute; */
    z-index: 4;

}

.one{

    margin-top: 35px;
    margin-right: 35%;

}

.one p{

    padding: 15px 40px 15px 34px;
    clip-path: polygon(0% 0%, 95% 0, 100% 50%, 95% 100%, 0% 100%);
    /* height: 63px; */
    grid-column: 2/6;
    grid-row: 1/2;
    align-self: center;

}

.one img{

    /* left: -20%;
    top: -50%; */
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;

}

.two{

    margin-top: 15px;
    margin-left: 35%;
    justify-items: end;

}

.two p{

    padding: 15px 36px 15px 50px;
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
    /* height: 63px; */
    grid-column: 1/5;
        grid-row: 1/2;
        align-self: center;

}

.two img{

    /* right: -20%;
    top: -50%; */
    grid-column: 4/6;
    grid-row: 1/2;
    align-self: center;

}

.three p{

    width: 500px;
    padding-left: 85px;

}

.disclaimer{

    clip-path: polygon(3% 0, 97% 0, 100% 50%, 97% 100%, 3% 100%, 0% 50%);
    background-color: rgba(175, 16, 44, 0.8);
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    padding: 10px 25px 10px 25px;
    text-align: center;
    width: clamp(310px, 90vw, 900px);
    margin-bottom: 60px;
    margin-top: 35px;

}

@media screen and (max-width: 1200px) {

    .homeAnim h4 {

        font-size: 1.5em;

    }

}

@media screen and (max-width: 1050px) {

    .homeAnim h4 {

        font-size: 1.3em;

    }

    .two{

        margin-left: 25vw;

    }

    .one{

        margin-right: 25vw;

    }

    .three p{

        width: 438px;

    }

    .homeContainer img{

        width: clamp(140px, 20vw, 175px);

    }

    .homeContainer p {

        font-size: 1em;
        height: auto;

    }

    .homeContainer{

        width: clamp(315px, 75vw, 700px);

    }

}

@media screen and (max-width: 825px){

    .homeAnim span{

        width: 15px;

    }

    .homeAnim h4 {

        font-size: 1.1em;

    }

    .four p{

        width: 425px;
        padding-right: 70px;

    }

    .four{

        margin-left: 1vw;

    }

}

@media screen and (max-width: 705px){

    .two {

        margin-left: 0;

    }

    .one {

        margin-right: 0;

    }

    .homeContainer {

        width: clamp(310px, 95vw, 575px);

    }

    .three p {

        width: 390px;
        padding-right: 22px;

    }

}

@media screen and (max-width: 650px){

    .disclaimer{

        font-size: 0.8em;
        padding: 10px 15px 10px 15px;
        width: clamp(275px, 85vw, 1050px);
        margin-bottom: 30px;

    }

    .homeAnim{

        width: clamp(300px, 95vw, 500px);

    }

    .homeAnim span {

        width: 10px;

    }

    .homeAnim h4 {

        font-size: 1em;

    }

    .four p{
     
        width: 370px;

    }


}

@media screen and (max-width: 580px){

    .four p, .three p{

        width: auto;

    }

    .homeContainer {
    
        grid-row-gap: 20px;

    }

    .one img,
    .two img {

        justify-self: center;
        grid-column: 1/6;
        width: 175px;

    }

    .one p,
    .two p {

        grid-column: 1/6;
        grid-row: 2/3;
        padding: 15px 35px;
        clip-path: polygon(95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%, 5% 0);

    }

}

@media screen and (max-width: 455px){

    .homeAnim span {
    
            width: 6px;
    
    }

    .homeAnim h4 {

        font-size: 0.8em;

    }

}