/**************************************************************************
Styling for the Home Page (index.php)
**************************************************************************/

html {

  --navAnimationTime: 5s;

}

body{

  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;

}

.navContainer{

  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: clamp(10px, 2%, 25px);
  padding-bottom: 10px;

}

.navImg{

  width: clamp(50px, 10vw, 65px);
  height: auto;
  cursor: pointer;
  filter: drop-shadow(20px 14px 5px rgba(0, 0, 0, 0.1));
  margin-left: clamp(15px, 5%, 100px);
  padding: 10px 0px;
  transition: 0.5s ease;
  animation: 0.9s ease var(--navAnimationTime) forwards fadeInNav;
  opacity: 0;

}

.logo{

    min-width: 300px;
    width: 70vw;
    max-width: 1200px;
    height: auto;
    animation: 1s linear 3.75s forwards shrink;

}

@keyframes shrink{

  to{

    width: 55vw;

  }

}

.navBar{

  width: 75vw;
  max-width: 1000px;
  min-width: 825px;
  background: rgba(255,255,255,0);
  padding: 20px 10px;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.navButtonContainer{

  position: relative;
  cursor: pointer;
  filter: drop-shadow(20px 14px 5px rgba(0, 0, 0, 0.1));
  animation: 0.6s ease forwards fadeInNav;
  opacity: 0;

}

.navButton{

  padding: 6px 35px 6px 35px;
  background-color: rgba(255, 255, 255, 0.7);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  color: #020b44;
  font-size: 1.1em;
  border-top: 2px #af102c solid;
  border-bottom: 2px #af102c solid;
  transition: 0.4s ease;

}

.navButtonContainer:nth-of-type(1) {

  animation-delay: var(--navAnimationTime);

}

.navButtonContainer:nth-of-type(2) {

  animation-delay: 5.1s;

}

.navButtonContainer:nth-of-type(3) {

  animation-delay: 5.2s;

}

.navButtonContainer:nth-of-type(4) {

  animation-delay: 5.3s;

}

.navButtonContainer:nth-of-type(5) {

  animation-delay: 5.4s;

}

.navButtonContainer i{

  position: absolute;
  inset: 0;
  display: block;

}

.navButtonContainer i::before, .navButtonContainer i::after{

  transition: 0.4s ease;
  content: "";
  position: absolute;
  width: 15px;
  height: 5px;
  background: #af102c;
}

.navButtonContainer i::before {
  left: 80%;
  top: -2px;
}

.navButtonContainer i::after {
  left: 20%;
  bottom: -2px;
}

@keyframes fadeInNav{

  from {

    transform: translate(-20px, -55px);
    opacity: 0;

  }

  to {

    transform: translate(0px, 0px);
    opacity: 1;

  }

}

.pageContentContainer {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  overflow-y: scroll;
  /* padding-top: clamp(100px, 20vw, 250px); */
  -webkit-mask: linear-gradient(180deg, transparent, white 35px);
  mask: linear-gradient(180deg, transparent, white 35px);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pageContentContainer::-webkit-scrollbar {
  display: none;
}

.bottom {

  width: 1px;
  height: 75px;

}

.background{

  height: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: -1;

}

@keyframes cloudLoop {

  0% {

    transform: translateX(-100%);
    left: 100%;

  }

  100% {

    transform: translateX(0);
    left: 0;

  }

}

.clouds{

  height: inherit;
  position: fixed;
  /* transition: transform 5s ease-in-out; */
  left: 100%;
  transform: translateX(-100%);
  animation: cloudLoop  alternate 220s linear infinite;
}

.towers{

  background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
  background-image: url(../images/home_background_towers_smaller.png);
  background-attachment: fixed;
  height: inherit;
  width: inherit;
  position: fixed;

}

.background::after{

  background-color: rgba(255, 255, 255, 0.5);
  height: inherit;
  width: inherit;
  content: "";
  position: fixed;

}

.copyRight{

  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.8em;
  font-weight: bold;
  z-index: 2;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 1280px) {

  .navButton{

    font-size: 1.2em;

  }

}

@media screen and (max-width: 920px) {

  .navBar{

    display: none;

  }

  .navButtonContainer{

    opacity: 0;

  }

  .navBarOpen {

    margin-top: 0px;
    position: fixed;
    top: 25%;
    right: 0%;
    min-width: 0;
    height: 50vh;
    width: 250px;
    padding: 5px 5px 25px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px;

  }

  .navButtonOpen {

    background-color: rgba(255, 255, 255, 1);

  }

  .logo{

    width: 68vw;

  }

  .copyRight{

    font-size: 0.7em;

  }

}

@media screen and (max-width: 584px) {


  .logo{

    width: 75vw;

  }

  .copyRight{

    font-size: 0.6em;

  }

}

.resize-animation-stopper *{
  animation: none !important;
  transition: none !important;
}

@media (hover: hover) {
  .navButtonContainer:hover i::before {
      width: 15px;
      left: 20%;
      /* background: white; */
    }
  
    .navButtonContainer:hover i::after {
      width: 15px;
      left: 80%;
      /* background: white; */
    }
  
    .navButtonContainer:hover .navButton {
  
      /* color: white;
    background-color: #af102c; */
      clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
      /* border-top: 2px white solid;
    border-bottom: 2px white solid; */
      /* letter-spacing: 1px;
    padding: 8px 38px 8px 38px; */
  
    }

    .navImg:hover{

      transform: scale(1.2);

    }
}
