.pageContentContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow-y: scroll;
    /* padding-top: clamp(100px, 20vw, 250px); */
    -webkit-mask: linear-gradient(180deg, transparent, white 0%);
    mask: linear-gradient(180deg, transparent, white 0%);

}

.productPageContent{

        

}   

.productPageContent h1, .productPageContent h2{

    text-align: center;

}