.productPageContent{

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 0px 30px 0px 30px;

}

.swiper-container {
    margin-top: 10px;
    width: clamp(250px, 95vw, 850px);
    height: 250px;
    overflow: hidden;
}

.swiper-slide {

    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1px 10px;
    border-radius: 100%;
    font-size: 30px !important;

}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "" !important;
}

.swiper-pagination{

    z-index: 0 !important;
    margin-bottom: -5px;

}

.swiper-pagination-bullet {
    background: rgba(175, 16, 44, 0.8) !important;
}

.productPageTitle{

    padding: 8px 50px 8px 50px;
    background-color: rgba(175, 16, 44, 0.8);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    color: white;
    font-size: 1.7em;
    margin-top: 30px;
}

.productPageContent h2:first-of-type{

    padding: 10px 50px 10px 50px;
    background-color: rgba(2, 11, 68, 0.7);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    color: white;
    text-wrap: nowrap;
    font-size: 1.1em;
    margin-top: 0;

}

.productPageContent h1, .productPageContent h2, .productPageContent h3{

    text-align: center;

}

.products{

    display: flex;
    justify-content: space-evenly;
    width: clamp(1000px, 85vw, 1600px);

}

.productContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.productContainer h3{

    padding: 6px 35px 6px 35px;
    background-color: rgba(255, 255, 255, 0.7);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    color: rgba(2, 11, 68, 1);
    text-wrap: nowrap;
    margin: 10px 0px 0px 0px;
    width: min-content;

}

.productImg{

    width: clamp(100px, 15vw, 140px);
    cursor: pointer;

}

.activeProduct{

    transform: scale(1.3);

}

.activeProductText{

    background-color: rgba(2, 11, 68, 0.7) !important;
    color: white !important;
    margin: 20px 0px 0px 0px !important;
    transform: scale(1.3);

}

.productDescriptor{

    padding: 0;
    filter: drop-shadow(20px 14px 5px rgba(0, 0, 0, 0.2));
    font-size: 1.1em;

}

.productImg, .productDescriptor{

    transition: 0.3s ease;

}

.productDetails{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: clamp(635px, 80vw, 1000px);
    /* margin-top: 5vh; */

}

.productDetailsContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 275px;

}

.detailsTitle{

    padding: 8px 35px 8px 35px;
    background-color: rgba(175, 16, 44, 0.8);
    color: white;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    text-wrap: nowrap;
    font-size: 1.3em;
    filter: drop-shadow(20px 14px 5px rgba(0, 0, 0, 0.2));

}

.productDetailsList{

    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 0px 15px 30px;
    width: 75%;
    margin: 0;
    opacity: 0;

}

.productDetailsList li{

    font-size: 1em;

}

@keyframes detailsFadeIn {

    from {

        opacity: 0;
        transform: translateY(-50px);

    }

    to {

        opacity: 1;
        transform: translateY(0px);

    }

}

@media screen and (max-width: 920px) {

    .productPageTitle{

        margin-top: 5%;

    }

}

@media screen and (max-width: 675px) {

    .productDetails{

        flex-direction: column;
        align-items: center;

    }

    .productPageTitle{

        font-size: 1.5em;
        padding: 6px 45px 6px 45px;

    }

    .productPageContent h2:first-of-type{

        font-size: 0.9em;
        padding: 8px 35px 8px 35px;

    }

    .detailsTitle{

        font-size: 1.1em;

    }

    .productDetails li{

        font-size: 0.9em;

    }

}

@media screen and (max-width: 568px) {

    .swiper-container {

        height: 300px;
        margin-top: -50px;

    }

    .swiper-button-next,
    .swiper-button-prev {
        
        margin-top: 100px !important;
        font-size: 25px !important;

    }

    .swiper-button-next {
        margin-right: clamp(25px, 8vw, 100px);
    }

    .swiper-button-prev {
        margin-left: clamp(25px, 8vw, 100px);
    }

    .productDetails{

        margin-top: 25px;

    }

    .swiper-pagination{

        margin-bottom: 10px;

    }

}

@media (hover: hover) {
    .productImg:hover,.productImg:hover~.productDescriptor
    {
    
        transform: scale(1.3);
    
    }

    .productImg:hover~.productDescriptor{

        margin: 20px 0px 0px 0px;
        background-color: rgba(2, 11, 68, 0.7);
        color: white;

    }
}
